JV_TP4_parteB/tp4/src/XML/dataBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="liga" type="ligaType"/>
  <xs:complexType name="jogadoresType">
    <xs:sequence>
      <xs:element type="xs:string" name="jogador"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nome"/>
      <xs:element type="jogadoresType" name="jogadores"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ligaType">
    <xs:sequence>
      <xs:element type="equipaType" name="equipa"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>